@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter');

html {
  scroll-behavior: smooth !important;
  font-family: 'Inter', sans-serif;
}

@layer base {

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2 {
    @apply text-3xl sm:text-4xl
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  transition: all 0.5s;
}

body {
  /* background-image: url('../public/assets/bg-page.svg'); */
  /* background-color: #34353a; */
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

/* div, span, p {
  color: #ffffff;
} */


.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .25s ease;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#d9b29e,#d9b29e)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}